<p id="notice"><%= notice %></p>

<div id='container-div'>
<h1>Questions</h1>

  <div class='row'>
    <div class='question-div' style="display: block;">
      <div class='question-text col-lg-12' data-question-id="<%= @questions.first.id%>">
        <%= @questions.first.qst %>
      </div>
      <div class='col-lg-12'>
        <button type='button' id='yes-button' class='btn btn-primary'>Yes</button>
        <button type='button' id='no-button' class='btn btn-info'>No</button>
      </div>
    </div>
  </div>
</div>
