<p id="notice"><%= notice %></p>
<div id='containers-container'>
<div id='celebs-container'>
<h1>Choose a celebrity</h1>

<table style='margin:auto;'>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @celebrities.each do |celebrity| %>
      <tr>
        <td><%= celebrity.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Let us guess', questions_path, id: 'to-quest-button' %>

</div>
</div>

<br>


